.addTask {
  display: flex;
  justify-content: center;
}

.addTask input {
  background: var(--gray-500);
  width: 39.87rem;
  height: 3.37rem;
  border: 0px solid var(--gray-400);
  border-radius: 0.5rem;
  color: var(--gray-300);
  padding: 0.5rem;
  margin-top: -1.8rem;
  float: left;
}

.addTask input:focus {
  outline: none;
}

.addTask button {
  background: var(--blue-dark);
  width: 5.62rem;
  height: 3.25rem;
  border: 0px solid var(--blue-dark);
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--gray-100);
  font-size: 0.87rem;
  margin: -1.8rem 0rem 0rem 0.5rem;
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addTask button span {
  padding-left: 1rem;
}

.addTask button img {
  margin-left: -0.7rem;
}
