section {
  display: flex;
  justify-content: center;
}

.allTask {
  width: 46rem;
  height: auto;
  border: none;
}

.noTask {
  width: 46rem;
  height: 15.25rem;
  border: 1px solid var(--gray-400);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noTask img {
  width: 3.5rem;
  height: 3.5rem;
}

.noTask p:nth-child(2) {
  color: var(--gray-300);
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.noTask p:nth-child(3) {
  color: var(--gray-300);
  font-size: 1rem;
  font-weight: regular;
}

@media (max-width: 520px) {
  .noTask {
    width: 20rem;
  }
}

@media (min-width: 521px) and (max-width: 768px) {
  .noTask {
    width: 31rem;
  }
}
